.header {
  background-color: #42b5e8;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.introText {
  border: 1px solid #f9f9f9;
  color: #212529;
  padding: 0.3rem;
  margin: 1rem;
  text-align: center;
  line-height: 1.5;
}

.wizardWrapper {
  transition: all 1s ease-out;
}

.introBtn {
  display: block;
  width: 120px;
  height: 120px;
  margin: 50px auto 0 auto;
  border-radius: 50%;
  font-size: 32px;
  border: 1px solid #42b5e8;
  color: #5cb85c;
  background-color: #fff;
}

.introBtn:hover {
  background-color: #e8e8e8;
}

.recordLabel {
  padding: 1rem;
  text-align: center;
  font-size: 0.95rem;
  background-color: #fff;
  text-transform: capitalize;
}

.recordForm {
  background-color: #fff;
  width: 240px;
  height: 240px;
  padding: 2rem;
  margin: auto;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.recordForm input {
  width: 100%;
  text-align: center;
}

.wizardSliders {
  display: flex;
  top: 80%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 90%;
  background-color: #fff;
  padding: 0.3rem;
}

.finalWizard button,
.wizardSliders button {
  width: 100%;
  border: none;
  background-color: #fff;
  padding: 1rem;
  border-radius: 3px;
}

.finalWizard button.submit,
.wizardSliders button.nextBtn {
  background-color: #5cb85c;
  color: #fff;
}

.finalWizard {
  display: flex;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: #fff;
  padding: 0.3rem;
}
