* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica;
  background-color: #e8e8e8;
}

.h2 {
  font-size: large;
  font-weight: 700;
}

.navActive {
  background-color: #42b5e8;
}

.header {
  background-color: #42b5e8;
  color: #fff;
  padding: 1rem;
  text-align: center;
}